/* Home page */
.home-body {
  background-color: bisque;
}

h1 {
  font-family: 'Times New Roman', Times, serif;   
}

.list {
  font-size: larger;
}

li {
  text-align: left;
}

/* Watermelon sangria page */

.wm-body {
  background-color: lightskyblue;
  text-align: center;
}

ol,
ul,
h2 {
  text-align: left;
}

#wm-ingredients {
  text-align: center;
}

#wm-steps {
  text-align: right;
  color: orange;
}

/* Ceviche page */

.ceviche-body {
  background-color: #000000;
  text-align: center;
  color: white;
}

.ceviche-body p {
  text-align: left;
}

.ceviche-body .description {
  color: green;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.ceviche-body .ingredients {
  color: red;
  font: 900;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.ceviche-body .steps {
  font-weight: 100;
}

#ceviche-tips {
  color: lightseagreen;
  font-size: 800px;
  font: bolder;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}