/* Home page */
.home-body {
  background-color: bisque;
}

h1 {
  font-family: 'Times New Roman', Times, serif;   
}

.list {
  font-size: larger;
}

li {
  text-align: left;
}

/* Watermelon sangria page */

.wm-body {
  background-color: lightskyblue;
  text-align: center;
}

ol,
ul,
h2 {
  text-align: left;
}

#wm-ingredients {
  text-align: center;
}

#wm-steps {
  text-align: right;
  color: orange;
}